*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/eldenRingBackGround_cropped5.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    max-height: 100vh;
}

/* --- Navigation Bar --- */
.navbar ul{
    background: linear-gradient(to right, black 50%, rgb(0, 0, 100));
    position: fixed;
    overflow: auto;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

    list-style-type: none;
    font-size: small;
}
.navbar img{
    display: block;
    float: left;
    height: 35px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
.navbar a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}
.navbar a:hover{
    background-color: rgb(250, 249, 246);
    color: black;
}
.navbar li{
    float: left;
}

.mains{
    background-color: rgba(0, 0, 46, 0.95);
    border-radius: 30px;
    margin: 50px;
    margin-top: 105px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    height: auto;
    font-size: large;
}
.container{
    background-color: rgb(0, 0, 35);
    display: flex;
    flex-direction: row;
    padding: 50px;
}
a{
    text-decoration: none;
    color: white;
}
.link-hover-highlight:hover{
    text-decoration: underline;
    color: cyan;
}

footer{
    background-color: rgb(0, 0, 25);
    font-size: small;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


/* --- Home Page --- */
#home_main{
    display: flex;
    width: auto;
    height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
}
#home_main div{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px;

    width: fit-content;
    height: fit-content;
    
    border-radius: 30vh;
    animation: shadowAnimation 7s infinite;
}
.pfp{
    background: radial-gradient(rgb(180, 180, 180) 30%, rgba(0, 0, 0, 0));
    height: 40vh;
    width: auto;
    border-radius: 50%;
}
#home_main section{
    width: auto;
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}


/*--- About Page ---*/
#profile{
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 20px;
}
#about h1{
    margin-bottom: 20px;
}
#profile .pfp{
    height: 300px;
    border: 5px solid;
    border-radius: 0;
    background: radial-gradient(rgb(220, 220, 220), rgb(100, 100, 100));
    border-image-source: linear-gradient(210deg, cyan, blue);
    border-image-slice: 1;
}
#profile section{
    padding: 30px;
}
#profile section h1{
    text-align: center;
    margin-bottom: 20px;
}
#profile section li{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
#intro{
    border: 5px solid;
    border-color: rgba(0, 0, 255, 0.2);
    border-radius: 20px;
    margin-left: 35px;
    overflow: hidden;
}
#intro section{
    text-align: justify;
    padding: 20px;
}
#intro aside{
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 0 0 15px 15px;
    height: 200px;
    padding: 5px;
}
#intro aside #tabbar{
    display: flex;
    width: fit-content;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#intro .tabs{
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
}
#intro .tabs::after{
    content: "";
    position: absolute;
    background-color: cyan;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
#intro .tabs:hover::after{
    width: 100%;
}
#intro .active-tab{
    color: rgb(0, 190, 190);
    text-shadow: 0 0 5px cyan;
}
#intro .pages{
    margin: 0px 20px 20px 20px;
    padding: 20px;
    padding-top: 0;
    display: none;
}
#intro #skills-page{
    display: block;
}
#intro .pages img{
    height: 50px;
    width: auto;
    margin: 5px;
}
#resumeButton{
    background-color: rgba(0, 0, 255, 0.2);
    text-align: center;
    padding: 10px;
}
#resumeButton:hover{
    background-color: rgb(0, 245, 245);
    color: black;
    cursor: pointer;
}
#resume{
    display: none;
    background-color: rgb(0, 245, 245);
    margin-top: -20px;
    width: 100%;
    height: 100vh;
}


/*--- Projects Page ---*/
#projects h1{
    margin-bottom: 20px;
}
#projects-top{
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    background-color: black;
    border-radius: 20px;
    border: 3px solid;
    border-color: white;
}
#github{
    background-color: rgb(40, 40, 40);
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}
#github img{
    border: 2px solid;
    border-color: white;
    border-radius: 50%;
    height: 200px;
}
#github a:hover{
    text-decoration: underline;
    color: cyan;
}
#featured-projects{
    text-align: center;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    margin-left: 35px;
    padding: 20px;
}
.project{
    margin-bottom: 20px;
    border: 3px solid;
    border-color: white;
}
.project-container{
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 520px;
}
#featured-projects .project-container{
    width: auto;
}
#featured-projects img{
    width: 100%;
    height: auto;
}
.project-caption{
    padding: 10px;
    padding-top: 0;
}
#featured-projects .project-more-tab{
    width: 100%;
}
.project-name-tab{
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 255, 0.7));
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transition: transform 0.4s ease 0.4s;
    text-align: center;
    font-size: large;
}
.project-name-tab h1{
    margin: 20px;
    margin-top: 150px;
}
.project-more-tab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.4s ease;

    text-align: center;
    cursor: context-menu;
}
.project-detail-tab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 200, 0.9), rgba(0, 0, 0, 0.8) 40%);
    color: #fff;
    transform: translateY(-200%);
    transition: transform 0.4s ease 0.4s;
}
.project-detail-tab p{
    padding: 40px;
    padding-top: 120px;
}
.project-container:hover .project-name-tab{
    transform: translateY(100%);
    transition-delay: 0s;
}
.project-container:hover .project-more-tab{
    transform: translateY(92%);
    transition-delay: 0.4s;
}
.project-more-tab:hover .project-detail-tab{
    transform: translateY(-99.94%);
    transition-delay: 0s;
}
#featured-projects .project-container:hover .project-more-tab{
    transform: translateY(92%);
    transition-delay: 0s;
}
.more-projects{
    padding: 20px;
}
.project-gifs{
    width: 100%;
    height: 350px;
}


/*--- Contacts Page ---*/
#contacts h1{
    margin-bottom: 20px;
}
#contact-info{
    font-size: x-large;
    width: 40%;
    
}
#contact-info li{
    list-style-type: none;
    margin: 20px;
}
#message{
    width: 60%;
}
#message h2{
    margin-bottom: 20px;
}
#form{
    margin: auto;
}
input{
    background-color: rgb(100, 100, 100);
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    margin-left: 12%;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea{
    background-color: rgb(100, 100, 100);
    color: white;
    width: 70%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border: 2px solid;
    border-color: black;
    margin-left: 12%;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input::placeholder{
    color: white;
}
input:focus-within{
    outline: none;
    border-color: cyan;
    border-width: 3px;
}
textarea::placeholder{
    color: white;
}
textarea:focus-within{
    outline: none;
    border-color: cyan;
    border-width: 3px;
}
button{
    background-color: rgb(0, 0, 130);
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    padding: 18px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}
button:hover{
    background-color: cyan;
    color: black;
    cursor: pointer;
}


@keyframes shadowAnimation {
    0% {
        box-shadow: 0 0 10px blue;
    }
    50% {
        box-shadow: 0 0 60px blue;
    }
    100% {
        box-shadow: 0 0 10px blue;
    }
}

/*--- Navigator ---*/
@media only screen and (max-width: 450px){
    .navbar img{
        margin-left: 0;
        margin-right: 0;
    }
    .navbar a{
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;
        padding-right: 8px;
    }
}


/*--- Home Page ---*/
@media only screen and (max-width: 550px){
    #home_main div{
        flex-direction: column-reverse;
        border-radius: 30vh;
        margin-top: 85px;
    }
    #home_main .pfp{
        height: 35vh;
    }
    #home_main section{
        width: 35vh;
        font-size: 15px;
    }
}


/*--- About Page ---*/
@media only screen and (max-width: 980px){
    #about .container{
        flex-direction: column;
    }
    #profile{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    #profile .pfp{
        height: 35vw;
    }
    #profile section{
        padding: 50px;
    }
    #profile section h1{
        margin: 0;
    }
    #profile section ul{
        padding: 0;
    }
    #intro{
        margin: 0;
    }
}
@media only screen and (max-width: 890px){
    #about{
        margin-left: 10px;
        margin-right: 10px;
    }
    #about .container{
        padding: 15px;
    }
    #profile{
        flex-direction: column;
        margin: auto;
    }
    #profile .pfp{
        height: 55vw;
        width: 55vw;
        margin: auto;
    }
    #profile section{
        padding: 20px;
        font-size: medium;
    }
    #intro{
        margin-top: 20px;
        font-size: medium;
    }
}
@media only screen and (max-width: 450px){
    #intro{
        font-size: small;
    }
    #intro section{
        padding: 10px;
    }
    #intro aside{
        height: 200px;
        padding: 5px;
    }
    #intro aside #tabbar{
        margin-left: auto;
        margin-right: auto;
    }
    #intro .tabs{
        letter-spacing: 0.5px;
        margin: 3px;
        padding: 3px;
    }
    #intro .pages{
        padding: 0px;
        padding-top: 10px;
    }
}


/*--- Projects Page ---*/
@media only screen and (max-width: 1000px){
    #projects .container{
        flex-direction: column;
        padding: 30px;
    }
    #projects-top{
        margin: 30px;
    }
    #github{
        padding: 20px;
        margin-bottom: 30px;
    }
    #github img{
        margin: 10px;
    }
    #featured-projects{
        margin: 0;
    }
    .project-caption{
        padding: 20px;
        padding-top: 0;
        font-size: larger;
    }
    .more-projects{
        padding: 0;
        margin: 0;
    }
    .project-container{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 680px){
    #projects{
        margin-left: 10px;
        margin-right: 10px;
    }
    #projects-top{
        margin: 0;
        padding: 0;
    }
    .project-caption{
        font-size: large;
    }
    .project-container{
        width: 350px;
    }
    .project-gifs{
        height: 240px;
    }
    .project-name-tab h1{
        margin-top: 80px;
    }
    .project-more-tab{
        font-size: small;
    }
    .project-detail-tab p{
        font-size: medium;
        padding: 20px;
        padding-top: 70px;
    }
}
@media only screen and (max-width: 430px){
    #projects{
        font-size: small;
    }
    .project-container{
        width: 240px;
    }
    #github img{
        height: 150px;
    }
    .project-caption{
        font-size: small;
    }
    .project-gifs{
        height: 165px;
    }
    .project-name-tab h1{
        font-size: large;
        margin-top: 70px;
    }
    .project-more-tab{
        font-size: 10px;
    }
    .project-detail-tab p{
        font-size: 10px;
        padding: 5px;
        padding-top: 55px;
    }
}


/*--- Contacts Page ---*/
@media only screen and (max-width: 1080px){
    #contact-info{
        font-size: large;
    }
}
@media only screen and (max-width: 835px){
    #contacts{
        margin-left: 10px;
        margin-right: 10px;
    }
    #contacts .container{
        flex-direction: column;
        padding: 20px;
    }
    #contact-info{
        font-size: x-large;
        width: fit-content;
        margin: auto;
        margin-bottom: 60px;
    }
    #message{
        margin: auto;
        width: auto;
    }
}
@media only screen and (max-width: 410px){
    #contacts .container{
        padding: 0px;
    }
    #contact-info{
        font-size: medium;
    }
    #message{
        margin: auto;
        width: auto;
    }
}